target
Cargo.lock
/doc
/gh-pages
build/
*.py[co]
__pycache__/
.cache
.pytest_cache/
dist/
.tox/
.mypy_cache/
.hypothesis/
.eggs/
venv*
guide/book/
guide/src/LICENSE-APACHE
guide/src/LICENSE-MIT
*.so
*.out
*.egg-info
extensions/stamps/
pip-wheel-metadata
valgrind-python.supp
*.pyd
lcov.info
coverage.json
netlify_build/
.nox/
