name: benches

on:
  push:
    branches:
      - "main"
  pull_request:
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}-benches
  cancel-in-progress: true

jobs:
  benchmarks:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rust-src

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            .
            pyo3-benches
          save-if: ${{ github.ref == 'refs/heads/main' || contains(github.event.pull_request.labels.*.name, 'CI-save-pr-cache') }}
          cache-all-crates: "true"
          cache-workspace-crates: "true"

      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-codspeed

      - name: Install nox
        run: pip install nox[uv]

      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          run: nox -s codspeed
          token: ${{ secrets.CODSPEED_TOKEN }}
          mode: instrumentation
