on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      python-version:
        required: true
        type: string
      python-architecture:
        required: true
        type: string
      rust:
        required: true
        type: string
      rust-target:
        required: true
        type: string
      MSRV:
        required: true
        type: string
      verbose:
        type: boolean
        default: false

jobs:
  build:
    continue-on-error: ${{ endsWith(inputs.python-version, '-dev') || contains(fromJSON('["3.7", "3.8"]'), inputs.python-version) || contains(fromJSON('["beta", "nightly"]'), inputs.rust) }}
    runs-on: ${{ inputs.os }}
    if: ${{ !(startsWith(inputs.python-version, 'graalpy') && startsWith(inputs.os, 'windows')) }}
    steps:
      - uses: actions/checkout@v4
        with:
          # For PRs, we need to run on the real PR head, not the resultant merge of the PR into the target branch.
          #
          # This is necessary for coverage reporting to make sense; we then get exactly the coverage change
          # between the base branch and the real PR head.
          #
          # If it were run on the merge commit the problem is that the coverage potentially does not align
          # with the commit diff, because the merge may affect line numbers.
          ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}

      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}
          architecture: ${{ inputs.python-architecture }}
          # PyPy can have FFI changes within Python versions, which creates pain in CI
          # 3.13.2 also had an ABI break so temporarily add this for 3.13 to ensure that we're using 3.13.3
          check-latest: ${{ startsWith(inputs.python-version, 'pypy') || startsWith(inputs.python-version, '3.13') }}

      - name: Install nox
        run: python -m pip install --upgrade pip && pip install nox

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ inputs.rust }}
          targets: ${{ inputs.rust-target }}
          # rust-src needed to correctly format errors, see #1865
          components: rust-src,llvm-tools-preview

      # On windows 32 bit, we are running on an x64 host, so we need to specifically set the target
      # NB we don't do this for *all* jobs because it breaks coverage of proc macros to have an
      # explicit target set.
      - name: Set Rust target for Windows 32-bit
        if: inputs.os == 'windows-latest' && inputs.python-architecture == 'x86'
        shell: bash
        run: |
          echo "CARGO_BUILD_TARGET=i686-pc-windows-msvc" >> $GITHUB_ENV

      - name: Install zoneinfo backport for Python 3.7 / 3.8
        if: contains(fromJSON('["3.7", "3.8"]'), inputs.python-version)
        run: python -m pip install backports.zoneinfo

      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' || contains(github.event.pull_request.labels.*.name, 'CI-save-pr-cache') }}

      - if: inputs.os == 'ubuntu-latest'
        name: Prepare LD_LIBRARY_PATH (Ubuntu only)
        run: echo LD_LIBRARY_PATH=${pythonLocation}/lib >> $GITHUB_ENV

      - if: inputs.rust == inputs.MSRV
        name: Prepare MSRV package versions
        run: nox -s set-msrv-package-versions

      - if: inputs.rust != 'stable'
        name: Ignore changed error messages when using trybuild
        run: echo "TRYBUILD=overwrite" >> "$GITHUB_ENV"

      - uses: dorny/paths-filter@v3
        if: ${{ inputs.rust == 'stable' && !startsWith(inputs.python-version, 'graalpy') }}
        id: ffi-changes
        with:
          base: ${{ github.event.merge_group.base_ref }}
          ref: ${{ github.event.merge_group.head_ref }}
          filters: |
            changed:
              - 'pyo3-ffi/**'
              - 'pyo3-ffi-check/**'
              - '.github/workflows/ci.yml'
              - '.github/workflows/build.yml'

      - name: Run pyo3-ffi-check
        # pypy 3.9 on windows is not PEP 3123 compliant, nor is graalpy
        if: ${{ endsWith(inputs.python-version, '-dev') || (steps.ffi-changes.outputs.changed == 'true' && inputs.rust == 'stable' && !startsWith(inputs.python-version, 'graalpy') && !(inputs.python-version == 'pypy3.9' && contains(inputs.os, 'windows'))) }}
        run: nox -s ffi-check

      - if: ${{ github.event_name != 'merge_group' }}
        name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - if: ${{ github.event_name != 'merge_group' }}
        name: Prepare coverage environment
        run: |
          cargo llvm-cov clean --workspace --profraw-only
          nox -s set-coverage-env

      - name: Build docs
        run: nox -s docs

      - name: Run Rust tests
        run: nox -s test-rust

      - name: Test python examples and tests
        shell: bash
        run: nox -s test-py
        continue-on-error: ${{ endsWith(inputs.python-version, '-dev') }}
        env:
          CARGO_TARGET_DIR: ${{ github.workspace }}/target

      - if: ${{ github.event_name != 'merge_group' }}
        name: Generate coverage report
        run: cargo llvm-cov
          --package=pyo3
          --package=pyo3-build-config
          --package=pyo3-macros-backend
          --package=pyo3-macros
          --package=pyo3-ffi
          report --codecov --output-path coverage.json

      - if: ${{ github.event_name != 'merge_group' }}
        name: Upload coverage report
        uses: codecov/codecov-action@v5
        with:
          files: coverage.json
          name: ${{ inputs.os }}/${{ inputs.python-version }}/${{ inputs.rust }}
          token: ${{ secrets.CODECOV_TOKEN }}

    env:
      CARGO_TERM_VERBOSE: ${{ inputs.verbose }}
      RUST_BACKTRACE: 1
      RUSTFLAGS: "-D warnings"
      RUSTDOCFLAGS: "-D warnings"
