# This runs as a separate job because it needs to run on the `pull_request_target` event
# in order to access the CODECOV_TOKEN secret.
#
# This is safe because this doesn't run arbitrary code from PRs.

name: Set Codecov PR base
on:
  # See safety note / doc at the top of this file.
  pull_request_target:

jobs:
  coverage-pr-base:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Fetch merge base
        id: fetch_merge_base
        uses: ./.github/actions/fetch-merge-base
        with:
          base_ref: "refs/heads/${{ github.event.pull_request.base.ref }}"
          head_ref: "refs/pull/${{ github.event.pull_request.number }}/head"
      - name: Set PR base on codecov
        run: |
          pip install codecov-cli
          codecovcli pr-base-picking \
            --base-sha ${{ steps.fetch_merge_base.outputs.merge_base }} \
            --pr ${{ github.event.number }} \
            --slug PyO3/pyo3 \
            --token ${{ secrets.CODECOV_TOKEN }} \
            --service github
