name: netlify-build

on:
  push:
    branches:
      - main
  pull_request:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  guide-build:
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.prepare_tag.outputs.tag_name }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - uses: dtolnay/rust-toolchain@nightly

      - name: Use nightly
        run: |
          rustup update nightly
          rustup default nightly

      - name: Setup mdBook
        uses: taiki-e/install-action@v2
        with:
          tool: mdbook, mdbook-linkcheck

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          # setup lychee but don't run it yet
          args: --version
          lycheeVersion: nightly

      - name: Get current PyO3 version
        run: |
          PYO3_VERSION=$(cargo search pyo3 --limit 1 | head -1 | tr -s ' ' | cut -d ' ' -f 3 | tr -d '"')
          echo "PYO3_VERSION=${PYO3_VERSION}" >> $GITHUB_ENV

      - name: Prepare tag
        id: prepare_tag
        run: |
          TAG_NAME="${GITHUB_REF##*/}"
          echo "tag_name=${TAG_NAME}" >> $GITHUB_OUTPUT

      # Build the site
      - name: Prepare the versioned guide entries
        run: |
          python -m pip install --upgrade pip && pip install nox towncrier requests
          nox -s build-netlify-site -- ${{ github.ref == 'refs/heads/main' && '' || '--preview' }}

      # Upload the built site as an artifact for deploy workflow to consume
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: ./netlify_build

      # Upload metadata for use in deploy workflow, will be empty if not a PR
      - name: Prepare metadata for upload
        id: pr
        run: |
          mkdir -p metadata
          echo "${{ github.event.pull_request.number }}" >> metadata/pr_number
          echo "${{ github.event.pull_request.head.sha }}" >> metadata/pr_head_sha

      - name: Upload PR metadata
        uses: actions/upload-artifact@v4
        with:
          name: metadata
          path: metadata
