name: Release Rust Crate

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    environment: release
    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v6

      - uses: rust-lang/crates-io-auth-action@v1
        id: auth

      - name: Publish to crates.io
        run: nox -s publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
